.Success_form {
    margin: auto;
    display: block;
    position: absolute;
    width: 550px;
    height: 220px;
    margin-top: 30px;
    padding: 20px;
    left: 0;
    right: 0;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-family: 'Courier New', Courier, monospace;
}

.Success_form > div {
    position: absolute;
    margin-top: 4px;
    left: 440px;
    font-size: 10px;
}

.Success_form > input {
    width: 200px;
    position: absolute;
    right: 170px;
    font-family: 'Courier New', Courier, monospace;
}

.Success_form > label {
    position: absolute;
    left: 20px;
}
